<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Creation</title>
</head>
<body>
<h2>Customer Account Creation</h2>
<form th:action="@{/identity/create-account}" th:object="${customerCreationRequest}" method="post">

    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" required/>

    <br/>

    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required/>

    <br/>

    <label for="addressLine1">Address Line 1:</label>
    <input type="text" id="addressLine1" th:field="*{address.line1}" required/>

    <br/>

    <label for="addressLine2">Address Line 2:</label>
    <input type="text" id="addressLine2" th:field="*{address.line2}"/>

    <br/>

    <label for="addressLine3">Address Line 3:</label>
    <input type="text" id="addressLine3" th:field="*{address.line3}"/>

    <br/>

    <button type="submit">Create Account</button>

</form>

</body>
</html>