<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Management</title>
</head>
<body>
    <table border="red solid 2px">
    <thead>
        <tr>
            <th>Index</th>
            <th>Customer Username</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="customer, stat : ${customers}">
        <td th:text="${stat.index + 1}" />
        <td th:text="${customer.username}" />
        <td>
            <button>

            </button>

        </td>
    </tr>
    </tbody>
</table>
</body>

</html>