<!doctype html>
<html lang="en">
<head th:insert="fragments/base.html :: html_header"> </head>
<body class="bg-gray-100">
<div class="p-5 max-w-7xl mx-auto">
    <header th:insert="fragments/base.html :: header"> </header>


    <!--content-->
    <div class="relative z-10 w-full mt-10">
        <div class="flex justify-center items-center mb-8">
            <h1 class="font-thin text-2xl md:text-4xl">Edit Product</h1>
        </div>

        <!-- form -->
        <form class="py-5 flex flex-col md:flex-row w-full gap-3 md:gap-5 max-w-2xl mx-auto" th:action="@{${#httpServletRequest.requestURI}}" th:object="${product}" method="post">
            <input type="text" th:field="*{id}" th:value="${product.id}" readonly="readonly" hidden/>
            <div class="relative bg-gray-200 w-[250px] h-[300px]">
                <img th:if="${product.getImageUrl() != null}" th:src="${'/images/' + product.getImageUrl()}" th:alt="${'An image of a ' + product.getDescription()}" class="w-full h-full object-cover" />
                <div class="absolute inset-0 flex flex-col items-center">
                    <span class="flex items-center justify-center rounded-full text-4xl border border-gray-300 w-[70px] h-[70px] inline-block">
                        <i class="fa fa-camera"></i>
                    </span>
                    <h5 class="text-black-600 py-3">Upload image</h5>
                    <input type="file" class="absolute left-0 top-0 right-0 bottom-0 opacity-0" />
                </div>
            </div>


            <div class="flex-1 px-2 pb-4">
                <div class="w-full">
                    <div class="space-y-5">
                        <div>
                            <label class="text-sm text-gray-500 font-semibold">Description:</label>
                            <div class="border border-gray-200 mt-1">
                                <input class="rounded-none px-2 py-2 w-full" type="text" th:field="*{description}" th:value="${product.description}" />
                            </div>
                        </div>

                        <div>
                            <label class="text-sm text-gray-500 font-semibold">SKU:</label>
                            <div class="border border-gray-200 mt-1">
                                <input class="rounded-none px-2 py-2 w-full" type="text" th:field="*{SKU}" th:value="${product.SKU}" />
                            </div>
                        </div>

                        <div>
                            <label class="text-sm text-gray-500 font-semibold">Expiry date:</label>
                            <div class="border border-gray-200 mt-1">
                                <input class="rounded-none px-2 py-2 w-full" type="date" th:field="*{expiryDate}" />
                            </div>
                        </div>

                        <div>
                            <label class="text-sm text-gray-500 font-semibold">Category:</label>
                            <div class="border border-gray-200 mt-1">
                                <select class="rounded-none px-2 py-2 w-full" th:field="*{category}">
                                    <option th:each="category : ${productCategories}" th:value="${category}" th:text="${category}"></option>
                                </select>
                            </div>
                        </div>



                        <div>
                            <label class="text-sm text-gray-500 font-semibold">Price:</label>
                            <div class="border border-gray-200 mt-1">
                                <input type="number" step="0.01" min="0"  class="rounded-none px-2 py-2 w-full" th:field="*{price}" th:value="${product.price}"/>
                            </div>
                        </div>
                    </div>

                    <div class="mt-8">
                        <button type="submit" class="block px-8 py-2 text-center w-full bg-violet-800 text-white">Update</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="mt-8">
            <form th:action="@{ '/products/delete/' + ${product.id}}" method="POST">
                <button class="block px-8 py-2 text-center w-full bg-red-800 text-white" type="submit" onclick="return confirm('Are you sure you want to delete this product?')">Delete</button>
            </form>
        </div>

    </div>

    <div class="grayscale opacity-10 w-full h-full top-0 left-0 absolute bg-[url('/images/vecteezy_shopping-concept-with-bags-background-vector-illustration_6624464.jpg')] bg-cover">
    </div>


</div>
</body>
</html>