<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Success</title>
</head>
<body>
<h2>Login SUCCESS</h2>
<script th:inline="javascript">
    function setCookie(name, value, days) {
        let expires = '';
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = '; expires=' + date.toUTCString();
        }
        document.cookie = name + '=' + value + expires + '; path=/';
    }
    const loginId = [[${loginId}]]
    const loginRole = [[${loginRole}]]

    if (loginId && loginRole) {
        const content = `${loginId}:${loginRole}`
        setCookie('details', content, 1);
        if (loginRole === "ADMIN"){
            window.location.href = '/admin/dashboard'
        }
        window.location.href = '/products';
    }
</script>

</body>
</html>